<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem Recebida - DevBurger</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/scripts/contato-recebido.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>DevBurger</h1>
        </div>
    </header>

    <main>
        <h2 class="section-title">Mensagem recebida!</h2>
        
        <div class="form">
            <p>Obrigado por entrar em contato, <strong id="nome" class="break-string"></strong>!</p>
            <p><strong>E-mail:</strong> <span id="email" class="break-string"></span></p>
            <p><strong>Assunto:</strong> <span id="assunto" class="break-string"></span></p>
            <p><strong>Mensagem:</strong> <span id="mensagem" class="break-string"></span></p>
             <div style="margin-top:2.5rem;text-align:center;">
                <a href="/" class="btn">Voltar à página inicial</a>
            </div>
        </div>
    </main>

    <footer>
        <p class="footer-text">&copy; 2025 DevBurger. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
